ul.features {
	list-style-type: square;
	margin-left: 2em;
}
#news {
	display: none;
}
#main_content_section { 
	padding: 0;
}
.navigate_section {
	display: none;
}
#main {
	display: table;
}
#main .software {
	display: table-cell;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#main .extended {
	display: table-cell;
	width: 22em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#contribs {
	padding: 1em 0;
}
h3 {
	font-style: normal;
	color: #566e4b;
	font-size: 1.5em;
	margin-bottom: 6px;
}
.text-green {
	color: #88b93d;
	text-shadow: 1px 1px 1px #777;
	display: inline-block;
	float: right;
}

.text-red {
	color: orange;
	text-shadow: 1px 1px 1px #777;
	float: right;
}
.text-blue {
	color: #5dcbe7;
	text-shadow: 1px 1px 1px #777;
	float: right;
}
.box {
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
}
.box div {
	padding: 1em;
	display: inline-block;
	background-image: linear-gradient(to bottom,#fafafa,#eaeaea);
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0.5em;
	width: 100%;
}
.box div b {
	font-size: 16px;
}
.btn {
	padding: 10px 5px;
	margin: 2px;
	font-size: 1em;
}
.buttons {
	text-align: center;
	padding: 1em;
}
.column {
	display: inline-table;
	width: 25%;
	margin-top: 1em;
	padding: 0 15px;
	color: #ffffff;
	font-size: .9em;
	white-space:nowrap; 
	line-height: 1.5;
}
.column .fa {
	color: #222;
}

.fa-group {
	padding-top: 5px;
}
.fa-15x {
	font-size: 1.5em;
}
#ext {
	list-style: none;
	padding: 20px 0;
	margin: 0;
	clear: both;
}
.column h4 {
	color: #222;
	font-weight: bold;
	font-size: 1.5em;
	margin: 0 0 10px 0;
	border-bottom: 2px dotted #222;
}
.column a:link, .column a:visited {
	color: #222;
	display: block;
}
.commits {
	text-align: left;
}
.icons {
	float: right;
}
.fa-arrow-circle-o-down {
	vertical-align: middle;
}

@media screen and (max-width: 50em) {
	#main .software, #main .extended {
		display: block;
		width: 100%;
	}
}